{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<form method="post" action="login">
    <input name="email" type="email" placeholder="email" value="{{email}}" required><br><br>
    <input name="password" type="password" placeholder="pasword" value="{{pass}}" required><br><br>
    <button type="submit">Enviar</button>
</form>
{% endblock %}
